﻿@using AddressBook.Extensions
@model DataAccessLayer.EmailAddress
@{
    var guid = Guid.NewGuid();
}
<div class="form-group" id="@guid.ToString()">
    @using (Html.BeginCollectionItem("EmailAddress"))
    {
        @Html.HiddenFor(x => x.EmailAddressId)
        @Html.HiddenFor(x => x.ContactId)

        @Html.LabelFor(f => f.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(f => f.Email, new { @class = "form-control inline-block" })
            <button class="btn btn-default ml-5" onclick="deleteItem('@guid.ToString()');">Delete</button>
            <div class="clearfix"></div>
            @Html.ValidationMessageFor(f => f.Email, "", new { @class = "text-danger" })
        </div>

    }
</div>

