﻿@using AddressBook.Extensions
@model DataAccessLayer.PhoneNumber
@{
    var guid = Guid.NewGuid();
}
<div class="form-group" id="@guid.ToString()">
    @using (Html.BeginCollectionItem("PhoneNumber"))
    {
        @Html.HiddenFor(x => x.PhoneNumberId)
        @Html.HiddenFor(x => x.ContactId)

        @Html.LabelFor(f => f.PhoneNumber1, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(f => f.PhoneNumber1, new { htmlAttributes = new { @class = "form-control inline-block" } })
            <button class="btn btn-default ml-5" onclick="deleteItem('@guid.ToString()');">Delete</button>
            <div class="clearfix"></div>
            @Html.ValidationMessageFor(f => f.PhoneNumber1, "", new { @class = "text-danger" })
        </div>
    }
</div>