﻿@using DataAccessLayer
@model DataAccessLayer.Contact

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PhoneNumber> phoneNumbers = Model.PhoneNumber.ToList();
    List<EmailAddress> emails = Model.EmailAddress.ToList();
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "AddressBook", FormMethod.Post, new { id = "createForm"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>
        </div>

        <div id="phoneNumbers">
            @for (int i = 0; i < phoneNumbers.Count; i++)
            {
                @Html.EditorFor(f => phoneNumbers[i])
            }
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
               
                @Ajax.ActionLink("Add Phone Number", "CreatePhoneNumber", null, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.InsertAfter,
               UpdateTargetId = "phoneNumbers",
               OnSuccess = "onItemAddSuccess",
               LoadingElementId = "loadingPhone"
           }, new {@class = "btn btn-default"})
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate loading" id="loadingPhone" style="display: none"></span>
            </div>
        </div>

        <div id="emailAddresses">
            @for (int i = 0; i < emails.Count; i++)
            {
                @Html.EditorFor(f => emails[i])
            }
        </div>

        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
                @Ajax.ActionLink("Add Email Address", "CreateEmailAddress", null, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.InsertAfter,
               UpdateTargetId = "emailAddresses",
               OnSuccess = "onItemAddSuccess",
               LoadingElementId = "loadingEmail"
           }, new { @class = "btn btn-default" })
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate loading" id="loadingEmail" style="display: none"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editContact")
}

