﻿@model DataAccessLayer.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<div class="col-md-6">
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>
                @Html.DisplayName("Phone number")
            </th>
        </tr>

        @foreach (var item in Model.PhoneNumber)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber1)
                </td>
            </tr>
        }
    </table>
</div>
<div class="col-md-6">
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>
                @Html.DisplayName("Email Address")
            </th>
        </tr>

        @foreach (var item in Model.EmailAddress)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </table>
</div>
<div class="clearfix"></div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
