﻿@model IEnumerable<DataAccessLayer.Contact>

@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string querySearch = Context.Request.QueryString == null ? "" : Context.Request.QueryString["search"] ?? "";
}

<h2>Contacts</h2>

<div class="row mb-10">
    <div class="col-xs-3">
        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-default"})
    </div>
    <div class="col-xs-8 pull-right">
        @using (Html.BeginForm("Index", "AddressBook", FormMethod.Get, new {@class = "form-inline pull-right", id = "searchForm"}))
        {
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control pull-right" name="search" id="search" placeholder="Search for.." value="@querySearch">
                    <span class="input-group-btn">
                        <input class="btn btn-secondary" type="submit" value="Go!"/>
                        <button class="btn btn-secondary ml-5" onclick="$('#search').val(''); $('#searchForm').submit();">Clear</button>
                    </span>
                </div>

            </div>
        }
    </div>
</div>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
