﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-10">
    <h1>Hello</h1>
    <p class="lead">
        This is a sample application of address book where you can create and manage contacts.
        <br/>Contacts are shared between users, though you have to @Html.ActionLink("login", "Register", "Account") to use the application.
        <br/>Please @Html.ActionLink("register", "Register", "Account") if using the application for the first time.
    </p>
</div>